%h2 All Ingredients

%ul
  - @ingredients.each do |ingredient|
    %li
      = link_to ingredient.name, ingredient_path(ingredient)
      %br>
      = image_tag ingredient.image, class: 'ingredient-thumbs'
