<h2>Add a Post</h2>

<form {{action "createPost" on="submit"}}>
  <p>{{input type="text" value=title class="col-md-12" placeholder="Title"}}</p>
  <p>{{textarea value=body class="col-md-12" rows="6" placeholder="Body"}}</p>
  <button>Create</button>
</form>
