<form method="POST" action="/basic">
  <p><strong>First number:</strong><br />
    <input type="text" name="first_number" /></p>
  <p><strong>Operator:</strong><br />
    <input type="text" name="operator" /></p>
  <p><strong>Second number</strong>:<br />
    <input type="text" name="second_number" /></p>
  <p><input type="submit" /></p>
</form>

<span class="results">The result is <%= @result %>.</span>