<html>
<head>
  <title>Calc-It!</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div id="container">
    <h1>Calc-It! Awesome Calculators&trade;</h1>
    <nav>
      <ul>
        <li><a href="/basic">Basic Calculator</a></li>
        <li><a href="/bmi">BMI Calculator</a></li>
        <li><a href="/mortgage">Mortgage Calculator</a></li>  
        <li><a href="/mileage">Mileage Calculator</a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>