<!DOCTYPE>
<html>
<head>
  <title>To-Do List</title>
  <link href="./jquery-ui-1.10.3.custom/css/excite-bike/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  <script src="./jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>
  <script src="./jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
  <script src="./underscore.js"></script>
  <script src="./item.js"></script>
  <script src="./script.js"></script>
  <script>
    $(function() {
      $( "#tabs" ).tabs();
    });
  </script>

  <style>
    body{
      font: 70% "Trebuchet MS", sans-serif;
      margin: 50px;
    }
    .demoHeaders {
      font-size: 20px;
      margin-top: 2em;
    }
  </style>

  <!-- we'll put templates here -->
  <!-- everything can be grabbed by ID -->
  <!-- so we can grab the html below with $("#application").html(); -->
  <!-- note that we specified type as "text/html" -->
  <!-- convention is: application = main template -->

  <!--   "application" should have: -->
  <!-- // links
    // frame (initialize with all re-render filtered to-do list when right links' onclick events are triggered)
    // should include text input to add task (similar to our ATM program) (add to our array of to-do's)
    // object: container id
    // filter: set integer: 0 means to-do, 1 means done -->
  <script type="text/html" id="application">
    <form>
      <label>New Item</label>
      <input id="new-todo-description" type="text" placeholder="describe to-do item" /><br />
      <label>Done?</label>
      <input id="new-todo-status" type="checkbox" /><br />
      <label>Priority (1-10)</label>
      <input id="new-todo-priority" type="number" /><br />
      <input id="new-todo-submit" type="button" value="Add to List" />
    </form>
  </script>

<!-- filtered to-do list depending what user clicks on (want to see all, done, to-do, add new)
loop through to-do list item like how we looped through students in class example -->
  <script type="text/html" id="index">
    <ul>
      <% _(itemsToShow).each(function(itemToShow){ %>
        <li><%= itemToShow.description %> (<%= itemToShow.status %>)</li>
      <% }) %>
    </ul>
  </script>

</head>

<body>

  <!-- Tabs -->
  <h2 class="demoHeaders">To-Do App</h2>
  <div id="tabs">
    <ul>
      <li><a href="#tab-all">All</a></li>
      <li><a href="#tab-done">Done</a></li>
      <li><a href="#tab-todo">To-Do</a></li>
      <li><a href="#tab-new">New...</a></li>
    </ul>
    <div id="tab-all"></div>
    <div id="tab-done"></div>
    <div id="tab-todo"></div>
    <div id="tab-new"></div>
  </div>

  <div id="main"></div>
</body>
</html>
