<!DOCTYPE>
<html>
<head>
  <title>To-Do List</title>
  <link href="./jquery-ui-1.10.3.custom/css/excite-bike/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  <script src="./jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>
  <script src="./jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
  <script src="./underscore.js"></script>
  <script src="./item.js"></script>
  <script src="./script.js"></script>
  <script>
    $(function() {
      $( "#tabs" ).tabs();
    });
  </script>

  <style>
    body{
      font: 70% "Trebuchet MS", sans-serif;
      margin: 50px;
    }
    .demoHeaders {
      font-size: 20px;
      margin-top: 2em;
    }
  </style>

<!-- filtered to-do list depending what user clicks on (want to see all, done, to-do, add new) -->
  <script type="text/html" id="index">
    <ul>
      <% _(itemsToShow).each(function(itemToShow){ %>
        <li>
          <% if (itemToShow.status == 1) { %>
            <input id="<%= todos.indexOf(_.findWhere(todos, {description: itemToShow.description})) %>-status-checkbox" type="checkbox" checked>
          <% } else { %>
            <input id="<%= todos.indexOf(_.findWhere(todos, {description: itemToShow.description})) %>status-checkbox" type="checkbox">
          <% } %>
          <%= itemToShow.description %>
        </li>
      <% }) %>
    </ul>
    <small><a href="#" id="sort-by-priority">Sort by Priority (High to Low)</a></small>
  </script>

  <script type="text/html" id="add-new-todo">
    <form>
      <label>New Item</label>
      <input id="new-todo-description" type="text" placeholder="describe to-do item" /><br />
      <label>Done?</label>
      <input id="new-todo-status" type="checkbox" /><br />
      <label>Priority (1-10)</label>
      <input id="new-todo-priority" type="number" /><br />
      <input id="new-todo-submit" type="button" value="Add to List" />
    </form>
  </script>

</head>

<body>

  <!-- Tabs -->
  <h2 class="demoHeaders">To-Do App</h2>
  <div id="tabs">
    <ul>
      <li><a href="#tab-all">All</a></li>
      <li><a href="#tab-done">Done</a></li>
      <li><a href="#tab-todo">To-Do</a></li>
      <li><a href="#tab-new">New...</a></li>
    </ul>
    <div id="tab-all"></div>
    <div id="tab-done"></div>
    <div id="tab-todo"></div>
    <div id="tab-new"></div>
  </div>

</body>
</html>
