/********
* BODY *
********/

/* change behavior of the box model */
/* box model visualized: http://www.hicksdesign.co.uk/boxmodel/ */
/* :before and :after are pseudo-elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: orange;
  font: 100%/1.4 sans-serif; /* 100% means 100% of body font size of that browser, usually 16px; 1.4 is a sensible line-height/leading */
}

a {
  color: white;
}

/* :hover and :focus are pseudo-states */
/* :focus is when you tab-select; useful for accessibility */
a:hover, a:focus {
  color: green;
}

/*********
* LAYOUT *
**********/

.container {
/*  width: 940px;*/
  /* 940W is commonly used: small enough for 1024W resolution, divisible by 12 (common grid) and many other numbers */
  max-width: 1000px; /* for fluid layout: just one absolute value for ratios in the rest of the classes */
  min-width: 600px; /* for fluid layout: just one absolute value for ratios in the rest of the classes */
  margin: 0 auto;
  background: blue;
}

.navbar {
/*  width: 300px;*/
  width: 31.914893617%; /* for fluid layout: relative to parent, i.e. container */
  background: red;
  float: left;
/*  padding: 10px;  without our box-sizing property stuff above, this will break our layout if we don't reduce width to 280px */
  padding: 0.625em; /* because we have 16px as 1em now, so 10px/16px is 0.625em */
}

.content {
/*  width: 640px;*/
  width: 68.0851064%; /* for fluid layout: relative to parent, i.e. container */
  background: white;
  float: right;
/*  padding: 10px;  without our box-sizing property stuff above, this will break our layout if we don't reduce width to 620px */
  padding: 0.625em; /* because we have 16px as 1em now, so 10px/16px is 0.625em */
}


/*******************
* HACKS/UTILITIES *
*******************/

/* cf means clearfix */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.em {
  width: 1em;
  height: 1em;
  background: blue;
}

